@using LMS.Shared.DTOs


@if (Activity != null)
{
    <div>
        <h2>@Activity.Name</h2>
        <p><strong>Description:</strong> @Activity.Description</p>
        <p><strong>Start date:</strong> @Activity.StartDate.ToShortDateString()</p>
        <p><strong>End date:</strong> @Activity.EndDate.ToShortDateString()</p>
        <p><strong>Activity type:</strong> @Activity.ActivityType.Name</p>
        <p><strong>Module id:</strong> @Activity.ModuleId</p>
    </div>
}
else
{
    <p>No activity information available.</p>
}

@code {
    [Parameter]
    public ActivityDTO Activity { get; set; }
}
