@using System.Net.Http

@using LMS.Shared.Dtos
@using Microsoft.AspNetCore.Authorization
@page "/application-user-overview/{UserId}"
@inject HttpClient Http

@if (applicationUser == null)
{
    <p>Loading...</p>
}
else
{
    <h2>User: @applicationUser.FullName</h2>
    <p>Email: @applicationUser.Email</p>
    <h3>Course: @applicationUser.Course.Name</h3>
    <p>Description: @applicationUser.Course.Description</p>

    <h4>Course Participants:</h4>
    <ul>
        @foreach (var participant in applicationUser.CourseParticipants)
        {
            <li>@participant.FullName - @participant.Email</li>
        }
    </ul>

    <h4>Modules:</h4>
    @foreach (var module in applicationUser.Modules)
    {
        <div>
            <h5>@module.Name</h5>
            <p>Description: @module.Description</p>
            <p>Start: @module.StartDate.ToShortDateString() - End: @module.EndDate.ToShortDateString()</p>

            <h6>Activities:</h6>
            <ul>
                @foreach (var activity in module.Activities)
                {
                    <li>@activity.Name - @activity.Description</li>
                }
            </ul>
        </div>
    }
}

@code {
    [Parameter]
    public string UserId { get; set; }

    private ApplicationUserDTO applicationUser;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(UserId))
        {
            applicationUser = await Http.GetFromJsonAsync<ApplicationUserDTO>($"https://localhost:7050/api/ApplicationUser/{UserId}");
        }
    }
}